@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* * {
    border: 1px solid red;
} */

body {
    margin: 0;
    font-size: 18px;
    font-family: "Lato", "Open Sans", sans-serif;
    background-color: #4682B4;
}

#content { /* contains everything in body */    
    max-width: 1200px;
    color: #2C2C87;
    background-color: white;
    margin: 40px auto;
    text-align: center;

    border-style: double;
    border-width: 7px;
    border-color: #2C2C87;
}

header {
    display: grid;
    grid-template-columns: 110px auto;
    
    background-color: #F7DC6F;
    text-align: left;
    font-size: 18px;
    padding-left: 10px;
    
}

header nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

nav .navigation {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #2C2C87;
    text-decoration: none;
    font-size: 1.5em;
    border-style: solid;
    border-color: #2C2C87;
    border-width: 1px;
    border-bottom: none;
}

nav .navigation:hover {
    color: white;
    background-color: #2C2C87;
}

nav a {
    text-decoration: none;
}

#logo {
    padding-top: 5px;
    justify-self: center;
    align-self: center;

    width: 100px;
}

#hero, #hero-box, #hero-img {
    width: 100%
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 3fr 1fr;
}

#hero-box {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}

#hero-msg {
    grid-column: 2;
    grid-row: 1;

    color: white;
}

#button-box {
    grid-column: 2;
    grid-row: 2;
}

main {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.rivers-card {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.camping-card {
    grid-column: 5 / 7;
    grid-row: 2 / 3;
}

.rapids-card {
    grid-column: 8 / 10;
    grid-row: 2 / 3;
}

.card-img {
    width: 100%;

    border: 10px solid #4682B4;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #2C2C87;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.icon {
    width: 50px;
    height: 50px;
}

#title {
    font-size: 3em;
    color: white;
    font-family: "Atma", "Brush Script MT";
}

main a, #hero a {
    color: #2C2C87;
    background-color: #F7DC6F;
    text-decoration: none;
    padding: 5px;
    border-style: solid;
    border-color: #2C2C87;
    border-width: 1px;

    display: flex;
    justify-self: center;
}

main a:hover, #hero a:hover {
    color: white;
    background-color: #2C2C87;
}

main h2 {
    margin-top: 0px;
    margin-bottom: 50px;
}

#background {
    grid-column: 1 / 11;
    grid-row: 4 / 9;

    background-color: #2C2C87;
}

.mountains {
    grid-column: 2 / 7;
    grid-row: 5 / 8;

    width: 100%;

    box-shadow: 5px 5px 10px #10103d;

    margin: 35px;
}

.msg {
    grid-column: 6 / 10;
    grid-row: 6 / 7;

    color: #F7DC6F;
    background-color: #4682B4;
    text-decoration: none;
    padding: 10px;

    box-shadow: 5px 5px 10px #10103d;
}

.msg a {
    color: #2C2C87;
    background-color: #F7DC6F;
    text-decoration: none;
    padding: 5px;
    border-style: solid;
    border-color: #2C2C87;
    border-width: 1px;
}

.msg a:hover {
    color: white;
    background-color: #2C2C87;
}

footer {
    background-color: #F7DC6F;
    color: #2C2C87;
    padding: 25px 50px;
    margin-top: 100px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a:visited {
    text-align: left;
    color: #2C2C87;
    text-decoration: none;
}

footer a {
    color: #4682B4;
    text-decoration: none;
}

.symbols {
    width: 35px;
    margin: 5px;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}

/* NOTES

'*' formats every element

.[class] {
    used to format a 'class' given to any number of tags and is designated by a '.' in css   
    'id' is for single use things, 'class' is for multi use things
    'id' and 'class' are given higher specificity and therefore are always prioritized over formating to tags
}

only one thing can have an 'id' which is designated in css by '#'

    UNITS
        pixel: px (it is absolute so it will be the same size for everything)
        percent: % (it will take up a specific percentage of the space it has)
        : em (a multiplier based on the font-size of body)
        : rem (a multiplier from a font-size of 16px)

    BLOCK vs INLINE elements
        - a block element will take all the space that it can based on the size of its parent
        - inline will take the space they need and leave the rest open for other elements
        - this can be tested by giveing everything a red border
*/
