/* Add your CSS here to style your valentines day page */
body {
    color: pink;

    background-color: pink;

    display: flex;

    justify-content: center;

    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

header {
    background-color: palevioletred;

    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    list-style: none;

    text-align: center;

    font-size: 1.2em;
    font-weight: bold;
}

.a {
    grid-column: 1;
    grid-row: 1;
}

.b {
    grid-column: 2;
    grid-row: 1;
}

.c {
    grid-column: 3;
    grid-row: 1;
}

.d {
    grid-column: 4;
    grid-row: 1;
}

main {
    color: rgb(255, 217, 224);

    text-align: center;

    width: 1000px;
    background-color: red;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr 1fr;
}

h1 {
    color: pink;

    grid-column: 3 / 6;
    grid-row: 1;

    font-family: 'brush script MT';

    font-size: 4em;

    padding-bottom: 300px;
}

img {
    grid-column: 1 / 8;
    grid-row: 1 / 4;

    width: 100%;
}

section {
    grid-row: 2;
    background-color: palevioletred;
    border-radius: 50px;
    opacity: 70%;
}

section:hover {
    opacity: 100%;
    transform: scale(1.1);
}

.section_1 {
    grid-column: 2;
}

.section_2 {
    grid-column: 4;
}

.section_3 {
    grid-column: 6;
}

footer {
    background-color: palevioletred;

    padding-bottom: 50px;
    padding-left: 10px;

    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    
    justify-content: flex-start;
}