body {
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #d3d3d3, #001f3f);
  background-repeat: no-repeat; /* Just in case */
  background-attachment: fixed;
}

.container {
  text-align: center;
}

.header {
  padding: 20px 0;
}

.header-image {
  background-image: url('../images/icenter.png'); /* Replace with your image */
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;

}

.header-image h1 {
  margin: 0;
  line-height: 0.9;
    font-size: 3.5em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  background: #00000055;
}

.content-box {
  background-color: #c5e2ff;
  margin: 30px auto;
  width: 90%;
  max-width: 900px;
  padding: 40px;
  box-shadow: 5px 5px 0px black;
  min-height: 400px;

  border-radius: 20px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

table {
  grid-column: 1 / 5;
  grid-row: 1 / 1;

  border-collapse: collapse;
  width: 100%;
  height: 1.5em;
}

td, th {
  border: 1px solid #001f3f;
  text-align: left;
  padding: 8px;
}

form {
  grid-column: 1 / 5;

  height: 1.5em;
  text-align: left;

  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

label {
  text-align: left;

  grid-column: 1;

  margin: 10px;
}

input {
  grid-column: 2;

  margin: 10px;
}

#submit {
  grid-column: 1;

  background-color: #0060c0;

  color: white;

  margin: 10px;

  padding: 5px;

  border-radius: 5px;
}

#submit:hover {
  background-color: #6eb7ff;
}


